<!DOCTYPE html>
<html lan="en">
<head>
	<title>Jonathan Chappell's CV</title>
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
</head>

	
		<body>
			<div class="container">
				<div class="navbar">
				    <div class="navbar-inner">
				    	<a class="brand" href="#">Title</a>
				    	<ul class="nav">
				      		<li class="active"><a href="#">Home</a></li>
				      		<li><a href="#">Link</a></li>
				      		<li><a href="#">Link</a></li>
				    	</ul>				  	</div>
				</div>


				<div class="row">
					<div class="span8"
						<header>
							<h1>Curriculum Vitae of Jonathan Chappell </h1>
						</header>
					</div>
					<div class="span4">
						<nav>
							<ul class="inline">
								<li><a href="About">About</a></li>
								<li><a href="contact">Contact</a></li>
								<li><a href="help">Help</a></li>
							</ul>
						</nav>
					</div>
				</div>
	
			<div class="row">
				<div class="span6">
					<h3>Qualifications</h3>
						<ul>
							<li>1992 MBChB University of Edinburgh </li>
							<li>1997 MRCGP</li>
							<li>2004 MSc Primary Care Research, Kings College London</li>
						</ul>
		
		
				</div>
				<div class="span6">
					<h3>Employment History</h3>
					<ul>
						<li>1992/3 Surgical House Officer, Kirkcaldy Victoria Hospital, Kirkcaldy</li>
						<li>1993 Medical House Officer, Borders General Hospital</li>
						<li>1993-5 Borders GPVTS</li>
						<li>1995-6 GP traning Galashiels Health Centre</li>
						<li>1996 Communinity Paediatrics, Edinburgh</li>
						<li>1997 Accident and Emergency/Orthopaedics SHO Borders General Hospital</li>
						<li>1999-2001 - GP locum post,Central Medical,Oamaru South Island, New Zealand</li>
						<li>2002-2004 Salaried GP Battersea Fields Practice</li>
						<li>2004-2013 Partner Battersea Fields Practice</li>
					</ul>
				</div>
			</div>
		
			
		</section>

		<div class="row">
			<div class="span12">
				<h3>Roles and Responsibilities</h3>
				<ul>
					<li>GP Trainer</li>
				</ul>
				<a href="/help" class="btn btn-info">Help</a>
			</div>
		</div>
	</div>
</body>
</html>


